@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@layer components {
  .hover {
    @apply transition-all delay-100 duration-200 ease-linear;
  }

  .btn {
    @apply hover flex appearance-none items-center justify-center gap-1 rounded-md text-base font-medium outline-none ring-0 focus:outline-none disabled:cursor-default disabled:opacity-70;
  }

  .btn-default {
    @apply bg-transparent text-white;
  }

  .btn-secondary {
    @apply border border-dark-light bg-dark-light text-white hover:border-dark hover:bg-slate-700;
  }

  .btn-success {
    @apply border border-green-600 bg-green-600 text-white hover:border-green-700 hover:bg-green-700;
  }

  .btn-danger {
    @apply border border-red-600 bg-red-600 text-white hover:border-red-700 hover:bg-red-700;
  }

  .btn-sm {
    @apply py-2 px-4 text-sm;
  }

  .btn-md {
    @apply py-2 px-6 text-base;
  }

  .btn-lg {
    @apply py-3 px-8 text-lg;
  }

  .icon-sm {
    @apply h-[18px] w-[18px];
  }

  .icon-md {
    @apply h-[22px] w-[22px];
  }

  .icon-lg {
    @apply h-[28px] w-[28px];
  }

  .icon-xl {
    @apply h-[36px] w-[36px];
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
